<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>URL Shrinker</title>
</head>
<body><br>
    <div class="mx-auto my-auto" style="width: 1000px">
        <h2> Url Shortner</h2>
       
        <form action='/short' method="POST">
            <label for="fullURL" class="form-label" >URL</label>
            <br>
            <input required placeholder="Url" type="url" name="fullURL" id="fullURL" class="form-control" size="5">
            <br>
            <br>
            <button type="submit">Shorten Url</button>
        </form>
        </div>

    </div>
</body>
</html>