<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shrinker</title>
</head>
<body>
    <div>
        <h2> Url Shortner</h2>
        <form action='/short' method="POST">
            <label for="fullURL" >URL</label>
            <input required placeholder="Url" type="url" name="fullURL" id="fullURL">
            <button type="submit">Shorten Url</button>
        </form>

        <table>
            <thead>
              <tr>
                <th>Full URL</th>
                <th>Short URL</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><a href="<%= shortUrls.full %>"><%= shortUrls.full %></a></td>
                  <td><a href="<%= shortUrls.short %>"><%= shortUrls.short %></a></td>
                </tr>
            </tbody>
          </table>

    </div>
</body>
</html>